{ 
    "extends": "../../.eslintrc", 
    "rules": { 
        "env": { "node": true } // Let eslint know we're working in node to allow key wolrds e.g. 'module'
    }, 
    "ignorePatterns": ["!**/*"] 
}
